# temporarily ignore docs as Prettier breaks indentation in code blocks
/tests/dummy/app/pods/docs/*/template.md

# unconventional js
/blueprints/*/files/

# compiled output
/CHANGELOG.md
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html
