# temporarily ignore docs as Prettier breaks indentation in code blocks
/tests/dummy/app/pods/*/template.md

# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html
